- provide :title, @service.name
= content_for :admin_contextual_links do
  = link_to 'Edit Page', edit_admin_service_path(@service)
- unless @service.banner.blank?
  = image_tag @service.banner.banner, class: 'service_banner'
- if @service.catchline?
  #page_catchline
    = raw @service.catchline
#service_page_container
  #service_content
    %h1= @service.name
    = raw @service.body

    #call_to_action
      For friendly service and a free estimate please call 01362 687 144 or
      = link_to 'click here', enquiries_path
      to request a call back

  = render 'shared/promotions_container', page: @service