= form_for([:admin, @service]) do |f|
  .field
    = f.label :name
    = f.text_field :name 
  .field
    = f.label :body
    = f.cktext_area :body
  .field
    = f.label :catchline
    = f.text_field :catchline
  .actions
    = f.submit 'Save'