= form_for([:admin, @service]) do |f|

  .field
    = field_set_tag 'banner' do
      - unless @service.new_record? || @service.banner.blank?
        = image_tag(@service.banner)
      = f.file_field :banner
  .field
    = f.label :name
    = f.text_field :name 
  .field
    = f.label :body
    = f.cktext_area :body
  .field
    = f.label :catchline
    = f.text_field :catchline
  = f.fields_for :selected_promotions do |pp|
    .field
      = pp.label :first, 'Promotion Card 1'
      = pp.select :first, PromotionCard.pluck(:name, :id), {selected: @service.promotion_cards.first.try(:id), include_blank: true}
      = f.hidden_field :order, value: 1
    .field
      = pp.label :second, 'Promotion Card 2'
      = pp.select :second, PromotionCard.pluck(:name, :id), {selected: @service.promotion_cards.second.try(:id), include_blank: true}
      = f.hidden_field :order, value: 2
    .field
      = pp.label :third, 'Promotion Card 3'
      = pp.select :third, PromotionCard.pluck(:name, :id), {selected: @service.promotion_cards.third.try(:id), include_blank: true}
      = f.hidden_field :order, value: 3
    .field
      = pp.label :fourth, 'Promotion Card 4'
      = pp.select :fourth, PromotionCard.pluck(:name, :id), {selected: @service.promotion_cards.fourth.try(:id), include_blank: true}
      = f.hidden_field :order, value: 4

  .actions
    = f.submit 'Save'