!!!
%html
  %head
    :sass
      body
        font-family: sans
        max-width: 600px

      #header
        padding: 30px 10px
        text-align: center

        h1
          font-weight: normal
          background: #ececec
          padding: 10px

        a
          font-size: 12px

      #page_wrapper
        margin: 10px
        .field
          padding: 20px 0
          color: #333

          .label
            font-weight: bold
            font-size: 0.875em


          .content
            font-size: 16px
            padding: 10px 0px 5px

      #footer
        background: #333
        color: rgba(white, 0.4)
        font-size: 0.875em
        text-align: right
        padding: 5px 10px
        margin-top: 20px
        span
          margin-left: 20px
        .key
          opacity: 0.5

  %body








    #page_wrapper
      - if @enquiry.oil?
        %h2 Oil Tank Enquiry
      - else
        %h2 Heating Service Enquiry
      .field
        .label Name
        .content= @enquiry.name
      .field
        .label Email
        .content= @enquiry.email

      .field
        .label Company
        .content= @enquiry.company
      .field
        .label Phone
        .content= @enquiry.phone
      .field
        .label Address
        .content= @enquiry.address
      - if @enquiry.oil?
        .field
          .label Make and model of current tank
          .content= @enquiry.make_model
        .field
          .label Type of Base
          .content= @enquiry.base_type
        .field
          .label Size of the Supporting Base
          .content= @enquiry.base_size
        .field
          .label Is there suitable access to the tank area
          .content= @enquiry.access
        .field
          .label Capacity of the tank
          .content= @enquiry.tank_capacity
        .field
          .label Approximate amount of oil remaining in tank
          .content= @enquiry.oil_remaining
      - else
        .field
          .label Postcode
          .content= @enquiry.postcode
        .field
          .label Nature of Enquiry
          .content= @enquiry.enquiry_type
      .field
        .label Comments
        .content= simple_format @enquiry.body
    #footer
      %span
        %span.key Sent At:
        = @enquiry.created_at.strftime '%e/%M/%y at %H:%M'
      %span
        %span.key Sent From:
        = Rails.application.config.action_mailer.default_url_options[:host]
