= form_for([:admin, @testimonial]) do |f|
  .field
    = f.label :name
    = f.text_field :name 
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :date, "For ordering the testimonials"
    = f.date_field :date
  .field
    = f.submit 'Save'