#footer_container
  #logo_panel
    = image_tag 'optec.jpg'
    = image_tag 'af.png'
    = image_tag 'ex.png'
    = image_tag 'ref.png'
    = image_tag 'tt.png'
    = image_tag 'visa.png'

  #footer_catchline
    #footer_catchline_content
      Tank Replacement Services Ltd, Church Farm, Station Road, Wendling,  Dereham, Norfolk,
      %span NR19 2NE
    = link_to 'Email: info@tankreplacementservices.co.uk', 'mailto:info@tankreplacementservices.co.uk'
  #footer_info
    #company_info
      © Copyright 2016, Tank Replacement Services Ltd.

