#header_container
	#top_nav
		%span= link_to 'Home', root_url
		%span.menu_spacer
		%span= link_to 'About Us', '/about'
		%span.menu_spacer
		%span= link_to 'Customer Testimonials', '/testimonials'
		%span.menu_spacer
		%span= link_to 'Emergency Help', '/emergency'
		%span.menu_spacer
		%span= link_to 'Oil Fired Boiler Servicing', '/servicing'
		%span.menu_spacer
		%span=link_to 'FAQs', '/faqs'
		%span.menu_spacer
		%span=link_to 'News', '/news'
		%span.menu_spacer
		%span= link_to 'Contact Us', '/contact_us'

	#header_content
		

		#header_content_left
			#logo= link_to image_tag('logo.jpg'), root_url
			#phone_numbers
				%div
					#phone_number_area Norfolk
					#phone_number 01362 687144
				%div
					#phone_number_area Essex
					#phone_number 01206 231555
		.flex-spacer
		#header_content_right
			%p Supply and installation of quality domestic and commercial oil tanks. All enquiries welcomed.
			#boiler_image= image_tag 'boiler.jpg'

	#main_menu
		%span.dropdown
			= link_to 'Plastic Oil Tanks', '/services/1'
			%div
				%span=link_to 'Domestic Plastic Tanks', '/services/2'
				%span=link_to 'Commercial Plastic Tanks', '/services/3'

		%span.dropdown
			=link_to 'Steel Oil Tanks', '/services/4'
			%div
				%span=link_to 'Domestic Steel Tanks', '/services/5'
				%span=link_to 'Commercial Steel Tanks', '/services/6'

		%span=link_to 'Fuel Dispensers', '/services/7'

		%span=link_to 'Oil Security', '/services/8'

		%span=link_to 'Oil Conditioning', '/services/9'

		%span=link_to 'Accessories', '/services/10'

		%span=link_to 'Tank Decommission', '/services/11'
		%span.menu_toggle_span=link_to 'Menu', 'javascript:void(0)', class: 'menu_toggle'
	#responsive_menu
		.responsive_top_nav
			%span= link_to 'Home', root_url
			%span.menu_spacer
			%span= link_to 'About Us', '/about'
			%span.menu_spacer
			%span= link_to 'Customer Testimonials', '/testimonials'
			%span.menu_spacer
			%span= link_to 'Emergency Help', '/emergency'
			%span.menu_spacer
			%span= link_to 'Oil Fired Boiler Servicing', '/servicing'
			%span.menu_spacer
			%span=link_to 'FAQs', '/faqs'
			%span.menu_spacer
			%span=link_to 'News', '/news'
			%span.menu_spacer
			%span= link_to 'Contact Us', '/contact_us'
		.responsive_main_menu
			%span.dropdown
				= link_to 'Plastic Oil Tanks', '/services/1'
				%div
					%span=link_to 'Domestic Plastic Tanks', '/services/2'
					%span=link_to 'Commercial Plastic Tanks', '/services/3'
			%span.menu_spacer
			%span.dropdown
				=link_to 'Steel Oil Tanks', '/services/4'
				%div
					%span=link_to 'Domestic Steel Tanks', '/services/5'
					%span=link_to 'Commercial Steel Tanks', '/services/6'
			%span.menu_spacer
			%span=link_to 'Fuel Dispensers', '/services/7'
			%span.menu_spacer
			%span=link_to 'Oil Security', '/services/8'
			%span.menu_spacer
			%span=link_to 'Oil Conditioning', '/services/9'
			%span.menu_spacer
			%span=link_to 'Accessories', '/services/10'
			%span.menu_spacer
			%span=link_to 'Tank Decommission', '/services/11'
