#header_container
  #top_nav
    %span= link_to 'Home', root_url
    %span.menu_spacer
    %span= link_to 'About Us', '/about'
    %span.menu_spacer
    %span= link_to 'Customer Testimonials', '/testimonials'
    %span.menu_spacer
    %span= link_to 'Emergency Help', '/emergency'
    %span.menu_spacer
    %span= link_to 'Heating Service Enquiry', heating_enquiry_enquiries_path
    %span.menu_spacer
    %span= link_to 'Oil Tank Enquiry', tank_enquiry_enquiries_path
    %span.menu_spacer
    %span=link_to 'FAQs', '/faqs'
    %span.menu_spacer
    %span=link_to 'Gallery', '/gallery'
    %span.menu_spacer
    %span= link_to 'Contact Us', '/contact_us'

  #header_content
    #header_content_inner


      #phone_numbers
        %div
          #phone_number_area Norfolk
          #phone_number 01362 687144
        #logo= link_to image_tag('logo.jpg'), root_url
        %div
          #phone_number_area Essex
          #phone_number 01206 231555

  #main_menu
    %span.dropdown
      = link_to 'Plastic Oil Tanks', '#', class: 'blank_link'
      %div
        %span=link_to 'Domestic', '/services/2'
        %span=link_to 'Commercial', '/services/2'
        %span=link_to 'Single Containment', '/services/2'
        %span=link_to 'Bunded / Double Skin', '/services/3'

    %span.dropdown
      =link_to 'Steel Oil Tanks', '#', class: 'blank_link'
      %div
        %span=link_to 'Domestic', '/services/2'
        %span=link_to 'Commercial', '/services/2'
        %span=link_to 'Single Containment', '/services/2'
        %span=link_to 'Bunded / Double Skin', '/services/3'

    %span=link_to 'Accessories', '/services/11'
    %span=link_to 'Tank Decommission', '/services/12'

    %span.dropdown
      =link_to 'Oil Tank Installations', '#', class: 'blank_link'
      %div
        %span=link_to 'Domestic', '/services/3'
        %span=link_to 'Commercial', '/services/7'
    %span.dropdown
      =link_to 'Fuel Dispensers', '#', class: 'blank_link'
      %div
        %span=link_to 'Plastic', '/services/3'
        %span=link_to 'Steel', '/services/7'

    %span.dropdown
      =link_to 'Heating Services', '#', class: 'blank_link'
      %div
        %span=link_to 'Oil Boiler Servicing', '/services/3'
        %span=link_to 'Oil Boiler Breakdowns', '/services/7'
        %span=link_to 'Oil Boiler Installation', '/services/7'




    %span.menu_toggle_span=link_to 'Menu', 'javascript:void(0)', class: 'menu_toggle'
  #responsive_menu
    .responsive_top_nav
      %span= link_to 'Home', root_url
      %span.menu_spacer
      %span= link_to 'About Us', '/about'
      %span.menu_spacer
      %span= link_to 'Customer Testimonials', '/testimonials'
      %span.menu_spacer
      %span= link_to 'Emergency Help', '/emergency'
      %span.menu_spacer
      %span= link_to 'Oil Fired Boiler Servicing', '/servicing'
      %span.menu_spacer
      %span=link_to 'FAQs', '/faqs'
      %span.menu_spacer
      %span=link_to 'News', '/news'
      %span.menu_spacer
      %span= link_to 'Contact Us', '/contact_us'
    .responsive_main_menu
      %span.dropdown
        = link_to 'Plastic Oil Tanks', '#'
        %div
          %span=link_to 'Domestic Plastic Tanks', '/services/2'
          %span=link_to 'Commercial Plastic Tanks', '/services/3'
      %span.menu_spacer
      %span.dropdown
        =link_to 'Steel Oil Tanks', '#'
        %div
          %span=link_to 'Domestic Steel Tanks', '/services/5'
          %span=link_to 'Commercial Steel Tanks', '/services/6'
      %span.menu_spacer
      %span=link_to 'Fuel Dispensers', '/services/7'
      %span.menu_spacer
      %span=link_to 'Oil Security', '/services/8'
      %span.menu_spacer
      %span=link_to 'Oil Conditioning', '/services/9'
      %span.menu_spacer
      %span=link_to 'Accessories', '/services/11'
      %span.menu_spacer
      %span=link_to 'Tank Decommission', '/services/12'
