- provide :title, @page.name
= content_for :admin_contextual_links do
  = link_to 'Edit Faq Page', edit_admin_page_path(@page)

#header_image{style: ("background-image: url(#{@page.banner});" if @page.banner?)}

- if @page.catchline?
  #page_catchline
    = raw @page.catchline

#page_content
  #page_content_inner
    = raw @page.body

    - @faqs.each do |faq|
      .question_container
        .question= faq.question
        .answer= raw faq.answer

  = render 'shared/promotions_container', page: @page