- provide :title, @page.name

#header_image{style: ("background-image: url(#{@page.banner});" if @page.banner?)}

- if @page.catchline?
	#page_catchline
		= raw @page.catchline

#page_content
	#page_content_inner
		= raw @page.body

		- @testimonials.each do |testimonail|
			.testimonial_container
				.name= testimonail.name
				.body= raw testimonail.body

	= render 'shared/promotions_container', page: @page