= content_for :admin_contextual_links do
  = link_to 'Add Gallery', new_admin_gallery_path(@gallery)
  = link_to 'Edit Galleries', admin_galleries_path
#gallery_container
  - @galleries.each do |gallery|

    = link_to gallery do
      .gallery_preview
        %h2= gallery.name
        - gallery.preview_thumbs.each do |i|
          = image_tag i