- if @page.catchline?
  #page_catchline
    = raw @page.catchline
#page_content
  #page_content_inner
    %h1 Contact us today
    %p
      Tel: 01362 687144 (Norfolk)
      %br/
      Tel: 01206 231555 (Essex)
    %p
      Email:
      = mail_to 'info@tankreplacementservices.co.uk'
    %p
      Tank Replacement Services Ltd
      %br/
      Church Farm
      %br/
      Station Road
      %br/
      Wendling
      %br/
      Dereham
      %br/
      Norfolk
      %br/
      NR19 2NE
    %hr
    %span= link_to 'Heating Service Enquiry', heating_enquiry_enquiries_path
    %br/
    %span= link_to 'Oil Tank Enquiry', tank_enquiry_enquiries_path

  = render 'shared/promotions_container', page: @page