- if @page.catchline?
  #page_catchline
    = raw @page.catchline
#page_content
  #page_content_inner
    %h1= @page.name
    = raw @page.body
    %hr
    %span= link_to 'Heating Service Enquiry', heating_enquiry_enquiries_path
    %br/
    %span= link_to 'Oil Tank Enquiry', tank_enquiry_enquiries_path

  = render 'shared/promotions_container', page: @page