!!!
%html
  %head
    %title= page_title yield(:title)
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1", :name => "viewport"}/
    %script{:src => "https://use.typekit.net/beb6xmm.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

  %body
    -if logged_in?
      = render 'shared/admin_top_menu'
    #page_container
      #page_container_inner
        = render 'shared/header'
        = yield
        = render 'shared/footer'