!!!
%html
  %head
    %title= page_title yield(:title)
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1", :name => "viewport"}/
    %script{:src => "https://use.typekit.net/beb6xmm.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}

  %body
    -if logged_in?
      = render 'shared/admin_top_menu'
    #page_container
      #page_container_inner
        = render 'shared/header'
        = yield
        #footer_container
          #logo_panel
            = link_to image_tag('optec.jpg', class: 'optec'), 'http://www.oftec.org.uk/Consumers/Technician?id=1839&BranchId=0%20&distance=0'
            = image_tag 'footer_block.jpg', class: 'footer_image'
          #footer_catchline
            #footer_catchline_content
              Tank Replacement Services Ltd, Church Farm, Station Road, Wendling,  Dereham, Norfolk, 
              %span NR19 2NE
            = link_to 'Email: info@tankreplacementservices.co.uk', 'mailto:info@tankreplacementservices.co.uk'
          #footer_info
            #company_info
              © Copyright 2016, Tank Replacement Services Ltd.

